@import "../../vars.css";

/* white box for container */
.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 60%;
  min-height: 10vh;
  margin-top: 3%;
  margin-left: 20%;
  padding: 20px;
}
/* select an option title */
.title {
  font-size: 25px;
  font-weight: bold;
  color: var(--color-text);
  text-align: left;
}
/* buttons + text contents */
.content {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 0px;
}
/**/
.selectTitle {
  font-size: 18px;
}
.description {
  padding: 3px;
}
/* with api btn */
.withApiBtn {
  display: inline-block;
  width: 70%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  border-color: #adabab;
  color: var(--color-primary);
  margin-right: 3px;
}
/* without api btn */
.withoutApiBtn {
  display: inline-block;
  width: 60%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  border-color: #adabab;
  color: var(--color-primary);
  margin-right: 3px;
}
.withApiBtn:hover,
.withoutApiBtn:hover {
  cursor: pointer;
  background-color: #706f6f;
}
/* small screen */
@media screen and (max-width: 830px) {
  .container {
    width: 95%;
    margin-left: 3%;
  }
}
