@import "../../vars.css";

* {
  border-radius: 5px;
}
/* white box for container */
.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 60%;
  margin-top: 3%;
  margin-left: 20%;
  padding: 2%;
}
/* select an option title */
.title {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-text);
  text-align: left;
}
/* buttons + text contents */
.content {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 3%;
  font-size: 14px;
}
/* With or without api */
.selectTitle {
  font-size: 11px;
}
.description {
  padding: 1%;
}
/* with api btn */
.withApiBtn {
  width: 60%;
  padding: 3%;
  font-weight: bold;
  border-color: #8d8b8b;
  color: var(--color-primary);
}
/* without api btn */
.withoutApiBtn {
  width: 50%;
  padding: 3%;
  font-weight: bold;
  border-color: #808080;
  color: var(--color-primary);
}
.withApiBtn:hover,
.withoutApiBtn:hover {
  cursor: pointer;
  background-color: #808080;
}
/* small screen */
@media screen and (max-width: 830px) {
  .container {
    width: 90%;
    margin-left: 5%;
  }
  .content {
    font-size: 12px;
  }
}
